.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: var(--black);
  background-color: transparent;
  backdrop-filter: blur(3px);
}

.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column i {
  margin: 0px 5px;
}
